*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
}

.gameboard { 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    max-height: 79vh;
    max-width: 79vh;
}

.color {
    width: 15rem;
    height: 15rem;
    margin: 5px;
}

.celeste {
    background: #22a6b3;
}

.celeste.light {
    background: #7ed6df;
}


.violet {
    background: #be2edd;
}

.violet.light {
    background: #e056fd;
}

.orange {
    background: #f0932b;
}

.orange.light{
    background: #ffbe76;
}

.green {
    background: #6ab04c;
}

.green.light{
    background: #badc58;
}

.yellow {
    background: #ffff00;
}

.yellow.light {
    background:#ffffe0;
}

.blue {
    background: #0000ff;
}

.blue.light {
    background: #add8e6;
  }

.red {
    background: #ff0000;
}

.red.light {
    background: #ff9f9f;
}

.grey {
    background: #808080;
}

.grey.light {
    background: #d3d3d3;
}

.salmon {
    background: #fa8072;
}

.salmon.light {
    background: #ffa07a;
}

.pink {
    background: #ffc0cb;
}

.pink.light {
    background: #ffd2d9;
}

.burlywood {
    background: #deb887;
}

.burlywood.light {
    background: #f1d7b5;
}

.gold {
    background: #ffd700;
}

.gold.light {
    background: #fafad2;
}

.btn-start {
    width: 500px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(45% - 195px);
    border-radius: 2rem;
    outline: none;
    border: none;
}

.hide {
    display: none;
}


@media(max-width: 800px){
    .color{
        width: 10rem;
        height: 10rem;
    
    }
    .gameboard{
        max-width: 50rem;
    }
}

@media(max-width: 500px){
    .color{
        width: 6rem;
        height: 6rem;
        margin-right: .2rem;
    }
    .gameboard{
        max-width: 33rem;
    }
}