$br_rad: 50%;

.color {
    width: 15rem;
    height: 15rem;
    margin: .5rem;
}

.celeste {
    background: black;
}

.celeste.light {
    background: #7ed6df;
}


.violet {
    background: #be2edd;
    border-radius: $br_rad;
}

.violet.light {
    background: #e056fd;
}

.orange {
    background: #f0932b;
}

.orange.light{
    background: #ffbe76;
}

.green {
    background: #6ab04c;
    border-radius: $br_rad;
}

.green.light{
    background: #badc58;
}

.yellow {
    background: #ffff00;
    border-radius: $br_rad;
}

.yellow.light {
    background:#ffffe0;
}

.blue {
    background: #0000ff;
}

.blue.light {
    background: #add8e6;
  }

.red {
    background: #ff0000;
    border-radius: $br_rad;
}

.red.light {
    background: #ff9f9f;
}

.grey {
    background: #808080;
}

.grey.light {
    background: #d3d3d3;
}

.salmon {
    background: #fa8072;
}

.salmon.light {
    background: #ffa07a;
}

.pink {
    background: #ffc0cb;
    border-radius: $br_rad;
}

.pink.light {
    background: #ffd2d9;
}

.burlywood {
    background: #deb887;
}

.burlywood.light {
    background: #f1d7b5;
}

.gold {
    background: #ffd700;
    border-radius: $br_rad;
}

.gold.light {
    background: #fafad2;
}